# Easily Compare Data Types

In [1]:
def bool_or_not(t):
    if type(t) == bool:
        print(' %s is bool' %t)
    else:
        print('%s is NOT bool' %t)

bool_or_not('hello')

hello is NOT bool

In [5]:
from IPython.display import IFrame

In [13]:
IFrame('https://coggle.it/diagram/VeAz8GonHq5Me0vE/fff7e54e53f32c8f42ad59c38bca7780c29072964e1179b594d769e53600c0d7', width=853, height=480)

In [26]:
from IPython.display import Image

In [29]:
Image(url='https://tf-curricula-prod.s3.amazonaws.com/curricula/b04b6f653b9d364d5612ac767527458a/DATA-001/v2/assets2/1.1.3_Get_To_Know_Pythons_Data_Types/Data_types_2.png')

# String Formatting

<li>{}.format()
<li>%s - represent literal
<li>%d - represent digit

In [30]:
"{0} what is up {1}? I am just {2}".format('Yo','breh',
                                          'chilling')

'Yo what is up breh? I am just chilling'

In [45]:
x = [1,2,3,4,5]
print( "Reversed: %s" %x[::-1])

del x[2]
print( "Deleted index 2: %s" %x)

print ("1 in li: %s" %(1 in x))

q = list(range(0,20,2))
print ("Stepping by 2: %s" %(q))

Reversed: [5, 4, 3, 2, 1]
Deleted index 2: [1, 2, 4, 5]
1 in li: True
Stepping by 2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Sets
<li> &   -- Return similarities between sets
<li> |   -- Return joint sets (set1 + set2)

In [46]:
my_set = {1,2,2,3,4,5,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [47]:
your_set = {6,7,8,9,10}
your_set

{6, 7, 8, 9, 10}

In [48]:
# & command
# Return similar values between sets
my_set & your_set

{6, 7}

In [49]:
# | return joint sets
my_set | your_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
Image(url='http://s29.postimg.org/86323s15j/Python_Data_Types.png')

In [55]:
actors = {
    "Kyle MacLachlan": "Dale Cooper",
    "Sheryl Lee": "Laura Palmer",
    "Lara Flynn Boyle": "Donna Hayward",
    "Sherilyn Fenn" : "Audrey Horne"
}

In [56]:
for i in actors:
    print ("Actor: %s" %i)
    print ("Role: %s\n" %actors[i])
    
# i will print the name of the actors
# actors[i] will return the role of the actor.

Actor: Lara Flynn Boyle
Role: Donna Hayward

Actor: Sherilyn Fenn
Role: Audrey Horne

Actor: Kyle MacLachlan
Role: Dale Cooper

Actor: Sheryl Lee
Role: Laura Palmer

**Use a while loop to solve the following problem: A slow, but determined, walker sets off from Leicester to cover the 102 miles to London at 2 miles per hour. Another walker sets off from London heading to Leicester going at 1 mile per hour. Where do they meet?**

In [61]:
Leicester = 102
London = 0
while London != Leicester:
    Leicester -= 2
    London += 1
print ("Leicester: %s" %Leicester)
print ("London: %s" %London)
print ("They meet at: %s" %London)

Leicester: 34
London: 34
They meet at: 34

# Try Block Error Catching

In [66]:
# Stupid Error-ful example
a = int(input())
b = 0
a/b

1

ZeroDivisionError: division by zero

In [65]:
# Better error example
a = int(input())
b = 0
try:
    a/b
except ZeroDivisionError:
    print("Cannot divide by zero man. Come on.")

1
Cannot divide by zero man. Come on.

In [70]:
phone_book = {
    "Sarah Hughes": "01234 567890",
    "Tim Taylor": "02345 678901",
    "Sam Smith":  "03456 789012"
}

try: phone_book['Jamie Theakston']
except KeyError: print("Person does not exist")

Person does not exist

### You can loop over dictionaries from the collections package keep running tallies. UNLIKE regular dictionaries

In [71]:
import collections

In [93]:
# Key is indexing by 1, Value is collecting number of
# times a number is occurring.
number_list = [1,1,2,2,2,2,3,3,4,4,5,5,5,5,5,5,6,7,8,8,8,8,9,9,9,9]
count_dict = collections.defaultdict(int)
for i in number_list:
    count_dict[i] += 1

In [94]:
count_dict

defaultdict(<class 'int'>, {1: 1, 2: 4, 3: 2, 4: 2, 5: 6, 'st': 2, 7: 1, 8: 4, 9: 4, 6: 1})

<li> You can also simply use the function Counter below on collections to populate the dictionaries as well.
<li>count_dict **==** new (because dictionary order does not matter)

In [87]:
new = collections.Counter(number_list)
new

Counter({5: 6, 2: 4, 8: 4, 9: 4, 1: 2, 3: 2, 4: 2, 6: 1, 7: 1})

> [if `i` wasn't a key in the dictionary, Python created the key and set the value to 1. If the key was already in the dictionary, Python added 1 to the value.](https://courses.thinkful.com/data-001v2/assignment/1.1.4)

In [98]:
# Dictionary Tally
tallies = ['rafeh','rafeh','qazi','sql','sql','sql']
counting_dict = collections.defaultdict(int)
#(int) is defining the VALUE type.
for i in tallies:
    # i == keys
    # manipulate values --> counting_dict[i]
    counting_dict[i] += 1

In [99]:
counting_dict

defaultdict(<class 'int'>, {'rafeh': 2, 'qazi': 1, 'sql': 3})

In [101]:
better_counting_dict = collections.Counter(tallies)
better_counting_dict

Counter({'sql': 3, 'rafeh': 2, 'qazi': 1})

In [ ]:
a