# Easily Compare Data Types

In [1]:
def bool_or_not(t):
    if type(t) == bool:
        print(' %s is bool' %t)
    else:
        print('%s is NOT bool' %t)

bool_or_not('hello')

hello is NOT bool

In [23]:
from IPython.display import Image

In [24]:
Image(url='https://tf-curricula-prod.s3.amazonaws.com/curricula/b04b6f653b9d364d5612ac767527458a/DATA-001/v2/assets2/1.1.3_Get_To_Know_Pythons_Data_Types/Data_types_2.png')

# String Formatting

<li>{}.format()
<li>%s - represent literal
<li>%d - represent digit

In [30]:
"{0} what is up {1}? I am just {2}".format('Yo','breh',
                                          'chilling')

'Yo what is up breh? I am just chilling'

In [45]:
x = [1,2,3,4,5]
print( "Reversed: %s" %x[::-1])

del x[2]
print( "Deleted index 2: %s" %x)

print ("1 in li: %s" %(1 in x))

q = list(range(0,20,2))
print ("Stepping by 2: %s" %(q))

Reversed: [5, 4, 3, 2, 1]
Deleted index 2: [1, 2, 4, 5]
1 in li: True
Stepping by 2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Sets
<li> &   -- Return similarities between sets
<li> |   -- Return joint sets (set1 + set2)

In [46]:
my_set = {1,2,2,3,4,5,6,7}
my_set

{1, 2, 3, 4, 5, 6, 7}

In [47]:
your_set = {6,7,8,9,10}
your_set

{6, 7, 8, 9, 10}

In [48]:
# & command
# Return similar values between sets
my_set & your_set

{6, 7}

In [49]:
# | return joint sets
my_set | your_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
Image(url='http://s29.postimg.org/86323s15j/Python_Data_Types.png')

In [55]:
actors = {
    "Kyle MacLachlan": "Dale Cooper",
    "Sheryl Lee": "Laura Palmer",
    "Lara Flynn Boyle": "Donna Hayward",
    "Sherilyn Fenn" : "Audrey Horne"
}

In [56]:
for i in actors:
    print ("Actor: %s" %i)
    print ("Role: %s\n" %actors[i])
    
# i will print the name of the actors
# actors[i] will return the role of the actor.

Actor: Lara Flynn Boyle
Role: Donna Hayward

Actor: Sherilyn Fenn
Role: Audrey Horne

Actor: Kyle MacLachlan
Role: Dale Cooper

Actor: Sheryl Lee
Role: Laura Palmer

**Use a while loop to solve the following problem: A slow, but determined, walker sets off from Leicester to cover the 102 miles to London at 2 miles per hour. Another walker sets off from London heading to Leicester going at 1 mile per hour. Where do they meet?**

In [9]:
Leicester = 102
London = 0
while London != Leicester:
    Leicester -= 2
    London += 1
print ("Leicester: %s" %Leicester)
print ("London: %s" %London)
print ("They meet at: %s" %London)

Leicester: 34
London: 34
They meet at: 34

# Try Block Error Catching

In [66]:
# Stupid Error-ful example
a = int(input())
b = 0
a/b

1

ZeroDivisionError: division by zero

In [65]:
# Better error example
a = int(input())
b = 0
try:
    a/b
except ZeroDivisionError:
    print("Cannot divide by zero man. Come on.")

1
Cannot divide by zero man. Come on.

In [70]:
phone_book = {
    "Sarah Hughes": "01234 567890",
    "Tim Taylor": "02345 678901",
    "Sam Smith":  "03456 789012"
}

try: phone_book['Jamie Theakston']
except KeyError: print("Person does not exist")

Person does not exist

### You can loop over dictionaries from the collections package keep running tallies. UNLIKE regular dictionaries

In [71]:
import collections

In [93]:
# Key is indexing by 1, Value is collecting number of
# times a number is occurring.
number_list = [1,1,2,2,2,2,3,3,4,4,5,5,5,5,5,5,6,7,8,8,8,8,9,9,9,9]
count_dict = collections.defaultdict(int)
for i in number_list:
    count_dict[i] += 1

In [94]:
count_dict

defaultdict(<class 'int'>, {1: 1, 2: 4, 3: 2, 4: 2, 5: 6, 'st': 2, 7: 1, 8: 4, 9: 4, 6: 1})

<li> You can also simply use the function Counter below on collections to populate the dictionaries as well.
<li>count_dict **==** new (because dictionary order does not matter)

In [87]:
new = collections.Counter(number_list)
new

Counter({5: 6, 2: 4, 8: 4, 9: 4, 1: 2, 3: 2, 4: 2, 6: 1, 7: 1})

> [if `i` wasn't a key in the dictionary, Python created the key and set the value to 1. If the key was already in the dictionary, Python added 1 to the value.](https://courses.thinkful.com/data-001v2/assignment/1.1.4)

# Functions

In [25]:
def addition(a,b):
    return a + b
addition(5,2)

7

In [26]:
from datetime import datetime
import logging

def log_handler(msg):
    """Sends msg to the logging platform"""
    date = str(datetime.now())
    msg = date + " - " + msg
    return logging.info(msg)

def log(msg):
    """A convenience function. Adds msg to the logs with log_handler"""
    msg = str(msg)
    print("Message logged: " + msg)
    return log_handler(msg)

def addition(a,b):
    """Adds two numbers and logs the result"""
    x = a + b
    log("Adding {0} and {1} = {2}".format(a, b, x))
    return x

addition(1, 2)
addition(2, 3)
addition(5, addition(3,5))

Message logged: Adding 1 and 2 = 3
Message logged: Adding 2 and 3 = 5
Message logged: Adding 3 and 5 = 8
Message logged: Adding 5 and 8 = 13

13

In [27]:
str(datetime.now())

'2015-09-01 03:18:22.077710'

# Baking a Cake
Writing an algorithm is a lot like writing a recipe. You have a list of ingredients, like a list of variables and a dataset; you have a list of instructions, like a list of functions and commands to run in a script. Take the following recipe for brownies:

Ingredients:

<li>1/2 cup butter
<li>1 cup sugar
<li>2 eggs
<li>1 tsp vanilla extract
<li>1/2 cup cocoa
<li>1/2 cup flour

Directions:

<li>If butter is not soft, then melt butter.

<li>Blend melted butter and sugar until mixture has creamy consistency, about 3 minutes

<li>Add eggs and vanilla; stir

<li>Add cocoa and flour; mix until well blended, about 4 minutes

<li>Pour into greased round glass cake pan

<li>Bake in oven 350 degrees for 30 minutes

In [28]:
ingredients = {
    "butter" : ("butter", 118.3),
    "sugar"  : ("sugar", 236.6),
    "vanilla" : ("vanilla", 4.929),
    "eggs"   : ("eggs", 2),
    "cocoa"  : ("cocoa", 118.3),
    "flour"  : ("flour", 118.3)
}

# The butter was refrigerated, so it's not soft yet.
butter_soft = False

bowl = []

# To make the cake, we'll need the following functions
def melt(this):
    print("Melting {0}.".format(this))
    
def bake(this, temp):
    print("Baking {0} at {1}.".format(this,temp))
    
def mix(this):
    print("Mixing {0}.".format(this))
    
def add_to_bowl(ingredient):
    print("Adding {0} to the bowl.".format(ingredient))
    return bowl.append(ingredient)

##### Start the algorithm! ######

if butter_soft != True:
    melt(ingredients["butter"][0])
    butter_soft = True
    
add_to_bowl(ingredients["butter"][0])
add_to_bowl(ingredients["sugar"][0])

mixing_time = 0
mixture_creamy = False

# Mix until creamy
while mixture_creamy == False:
    mix(bowl)
    mixing_time += 1
    if mixing_time == 3:
        mixture_creamy = True
        
add_to_bowl(ingredients["eggs"][0])
add_to_bowl(ingredients["vanilla"][0])

mix(bowl)

add_to_bowl(ingredients["cocoa"][0])
add_to_bowl(ingredients["flour"][0])

blended = False
blend_time = 0
while blended == True:
    mix(bowl)
    blend_time += 1
    if blend_time == 4:
        blended = True

cake_pan = bowl #dump all the bowl ingredients into cake_pan

cooking_temp = 350
cooking_time = 30

for minute in range(0, cooking_time):
    bake(cake_pan, cooking_temp)
    
print("cake is done!")

Melting butter.
Adding butter to the bowl.
Adding sugar to the bowl.
Mixing ['butter', 'sugar'].
Mixing ['butter', 'sugar'].
Mixing ['butter', 'sugar'].
Adding eggs to the bowl.
Adding vanilla to the bowl.
Mixing ['butter', 'sugar', 'eggs', 'vanilla'].
Adding cocoa to the bowl.
Adding flour to the bowl.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
Baking ['butter', 'sugar', 'eggs', 'vanilla', 'cocoa', 'flour'] at 350.
cake is done!

# Recursion

In [30]:
# fn   = fn-1 + fn-2
# f(0) = 0
# f(1) = 0
# f(2) = f(1) + f(0) = 1
# f(3) = f(2) + f(1) = 2
# f(4) = f(3) + f(2) = 3
# f(5) = f(4) + f(3) = 5
# f(6) = f(5) + f(4) = 8
# f(7) = f(6) + f(5) = 13
# f(8) = f(7) + f(6) = 21
# f(9) = f(8) + f(7) = 34
# f(10)= f(9) + f(8) = 55
# f(11)= f(10)+ f(9) = 89
# f(11)= f(10)+ f(9) = 144
def fibonacci(n):
    print ("n: %d" %n)
    if n < 2:
        print ("n: %d" %n)
        return n
    else:
        print ('fibonacci(n-1): %d' %fibonacci(n-1))
        print ('fibonacci(n-2): %d' %fibonacci(n-2))
        return fibonacci(n-1) + fibonacci(n-2)

fibonacci(6)

# Solving steps for fibonacci(7)
# 7 is not < 2
# fibonacci(6) ?
# 6 is not < 2
# fibonacci(5) ?
# 5 is not < 2
# fibonacci(4) ?
# 4 is not < 2
# fibonacci(3) ?
# 3 is not < 2
# fibonacci(2) ?
# 2 is not < 2
# fibonacci(1) ?
# 1 IS < 2
# return 1
# fibonacci(1) == 1
#

n: 6
n: 5
n: 4
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 2
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 1
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 3
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-2): 2
n: 4
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 2
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 1
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 5
n: 4
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 2
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 1
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 3
n: 5
n: 4
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 2
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 1
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 3
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-2): 2
n: 4
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 2
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 1
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 4
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
fibonacci(n-1): 2
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-2): 1
n: 3
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
fibonacci(n-1): 1
n: 1
n: 1
fibonacci(n-2): 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0
n: 1
n: 1
n: 2
n: 1
n: 1
fibonacci(n-1): 1
n: 0
n: 0
fibonacci(n-2): 0
n: 1
n: 1
n: 0
n: 0

8

##Can you write a FizzBuzz algorithm? It goes like this:
<li>Loop through all the integers from 1 to 100
<li>If the number is divisible by 3, print "Fizz"
<li>If the number is divisible by 5, print "Buzz"
<li>If the number is divisible by both, print "FizzBuzz"
<li>If the number is divisible by neither, print the number

In [31]:
# online one-line solution --> for i in range(1,101): print("Fizz"*(i%3==0) + "Buzz"*(i%5==0) or i)

def FizzBuzz():
    for i in range(1, 101):
        if (i % 3 == 0) and (i % 5 == 0):
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)
        
FizzBuzz()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [33]:
0 % 5 == 0 # That's why the range starts from 1 in the solutions

True

In [34]:
def appendsums(lst):
    
    for i in range(25):
        s = sum(lst[-3:])
        lst.append(s)
    return lst

sum_three = [0,1,2]
appendsums(sum_three)
print(sum_three[20])

101902

# Dictionaries, Data, & Fun Stuff

In [98]:
# Dictionary Tally
tallies = ['rafeh','rafeh','qazi','sql','sql','sql']
counting_dict = collections.defaultdict(int)
#(int) is defining the VALUE type.
for i in tallies:
    # i == keys
    # manipulate values --> counting_dict[i]
    counting_dict[i] += 1

In [99]:
counting_dict

defaultdict(<class 'int'>, {'rafeh': 2, 'qazi': 1, 'sql': 3})

In [101]:
better_counting_dict = collections.Counter(tallies)
better_counting_dict

Counter({'sql': 3, 'rafeh': 2, 'qazi': 1})

** with open ('path/to/filename', 'rU') as inputFile **
<li>'`with`' will call context manager which will help automatically close the file after indentations and processing.
<li>'`rU`' will tell python to read from the the file. The 'U' stands for Universal Newlines, so it will appropriately handle for any platform Apple, Windows, or Linux.
<li>`'w'` will be for writing the file in Python

In [3]:
cd

/Users/Rafeh

In [4]:
with open('dropbox/github/Thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.csv', 'rU') as inputFile:
    for line in inputFile:
        print(line)

Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea

Africa,Elevations > 20m or Non-Contiguous ,Rural,333302081,418265923,530184094,1249908321,23749644

Africa,Elevations > 20m or Non-Contiguous ,Urban,157846329,210381843,266776037,504662423,204719

Africa,Elevations Less Than or Equal To 10m ,Rural,18167003,22569516,28154645,76368900,172460

Africa,Elevations Less Than or Equal To 10m ,Urban,22412955,28679117,36746774,94042536,13838

Africa,Elevations Less Than or Equal To 12m ,Rural,20569411,25576481,31957186,85839163,202456

Africa,Elevations Less Than or Equal To 12m ,Urban,25761403,32968917,42205337,105920405,16035

Africa,Elevations Less Than or Equal To 1m,Rural,3052584,3891608,4785451,14152403,21939

Africa,Elevations Less Than or Equal To 1m,Urban,4056678,4791461,5915752,21137853,2193

Africa,Elevations Less Than or Equal To 20m ,Rural,27791636,34704704,43734340,118040942,342694

Africa,Elevations Less Than or Equal To 20m ,Urban,37566072,47749797,60835348,145244129,23456

Africa,Elevations Less Than or Equal To 3m,Rural,6178557,7763536,9586584,27430640,46301

Africa,Elevations Less Than or Equal To 3m,Urban,7194770,8762218,11005850,34775942,4662

Africa,Elevations Less Than or Equal To 5m,Rural,9969005,12408335,15403231,43327033,84084

Africa,Elevations Less Than or Equal To 5m,Urban,11597788,14488902,18449258,53508839,7366

Africa,Elevations Less Than or Equal To 7m,Rural,13595903,16884460,21018235,58101349,121581

Africa,Elevations Less Than or Equal To 7m,Urban,16197359,20564492,26333878,71409170,10121

Africa,Elevations Less Than or Equal To 9m,Rural,16858764,20937690,26100880,71204360,156291

Africa,Elevations Less Than or Equal To 9m,Urban,20542430,26255213,33641605,87324590,12665

Africa,Total National Population,Rural,361093713,452970623,573918429,1367949254,24092338

Africa,Total National Population,Urban,195412402,258131640,327611385,649906552,228175

Asia,Elevations > 20m or Non-Contiguous ,Rural,1680481883,1798416711,1974005089,2874557238,37883607

Asia,Elevations > 20m or Non-Contiguous ,Urban,918668080,1175247232,1262609098,1764942637,1122788

Asia,Elevations Less Than or Equal To 10m ,Rural,191278674,210541251,234663295,374695595,969683

Asia,Elevations Less Than or Equal To 10m ,Urban,203398169,252379433,290492264,377327872,129278

Asia,Elevations Less Than or Equal To 12m ,Rural,219960928,243052196,271741911,437367709,1128770

Asia,Elevations Less Than or Equal To 12m ,Urban,233147526,289429187,333361953,434901291,149673

Asia,Elevations Less Than or Equal To 1m,Rural,18459117,20808077,22164683,33476823,109974

Asia,Elevations Less Than or Equal To 1m,Urban,15105001,19858184,21974625,27586527,12590

Asia,Elevations Less Than or Equal To 20m ,Rural,299462435,331270619,371915099,603768417,1764932

Asia,Elevations Less Than or Equal To 20m ,Urban,319318447,397909472,458321169,604216625,213823

Asia,Elevations Less Than or Equal To 3m,Rural,48168060,53093971,57758563,85812360,266138

Asia,Elevations Less Than or Equal To 3m,Urban,37555825,48341898,54512396,68677562,31423

Asia,Elevations Less Than or Equal To 5m,Rural,96000422,104609114,114983028,175319939,478303

Asia,Elevations Less Than or Equal To 5m,Urban,87109915,109542006,124916072,158748008,62383

Asia,Elevations Less Than or Equal To 7m,Rural,139082069,152030350,168232444,262405032,697177

Asia,Elevations Less Than or Equal To 7m,Urban,141792154,176453451,202546292,260137398,92410

Asia,Elevations Less Than or Equal To 9m,Rural,175412216,192696616,214358663,340006165,886176

Asia,Elevations Less Than or Equal To 9m,Urban,185617116,230392535,264967068,343068584,118075

Asia,Total National Population,Rural,1979944334,2129687281,2345920129,3478325610,39648539

Asia,Total National Population,Urban,1237986520,1573156714,1720930281,2369159274,1336611

Oceania,Elevations > 20m or Non-Contiguous ,Rural,8427284,10127646,12434027,18743701,8174117

Oceania,Elevations Less Than or Equal To 10m ,Rural,636248,747250,871503,1012881,126545

Oceania,Elevations Less Than or Equal To 12m ,Rural,762204,897802,1051538,1218603,155196

Oceania,Elevations Less Than or Equal To 1m,Rural,99919,115905,134633,128828,9146

Oceania,Elevations Less Than or Equal To 20m ,Rural,1134007,1343603,1590022,1937585,267534

Oceania,Elevations Less Than or Equal To 3m,Rural,164304,191743,222130,233985,22561

Oceania,Elevations Less Than or Equal To 5m,Rural,287793,335546,388501,434716,51897

Oceania,Elevations Less Than or Equal To 7m,Rural,428625,500441,580295,662121,83533

Oceania,Elevations Less Than or Equal To 9m,Rural,568706,666939,776354,900481,110497

Oceania,Total National Population,Rural,9561292,11471250,14024049,20681609,8441651

Oceania,Elevations > 20m or Non-Contiguous ,Urban,12547162,14195786,16912718,18658175,39148

Oceania,Elevations Less Than or Equal To 10m ,Urban,2200753,2532995,3003692,3293517,5852

Oceania,Elevations Less Than or Equal To 12m ,Urban,2729119,3136967,3721347,4023841,7139

Oceania,Elevations Less Than or Equal To 1m,Urban,92528,105767,125631,136478,227

Oceania,Elevations Less Than or Equal To 20m ,Urban,4589488,5255982,6240084,6566734,11449

Oceania,Elevations Less Than or Equal To 3m,Urban,310744,361508,430433,499388,881

Oceania,Elevations Less Than or Equal To 5m,Urban,752050,874001,1038190,1179988,2222

Oceania,Elevations Less Than or Equal To 7m,Urban,1342907,1552001,1841419,2048884,3708

Oceania,Elevations Less Than or Equal To 9m,Urban,1945861,2240098,2656137,2937199,5173

Oceania,Total National Population,Urban,17136649,19451769,23152802,25224909,50597

Europe,Elevations > 20m or Non-Contiguous ,Rural,163359246,162706798,208303075,113649857,4627707

Europe,Elevations > 20m or Non-Contiguous ,Urban,309270561,316003549,418732932,265691431,548471

Europe,Elevations Less Than or Equal To 10m ,Rural,8921599,9344934,10191711,8029402,129830

Europe,Elevations Less Than or Equal To 10m ,Urban,33776617,34884603,39019817,32965986,50897

Europe,Elevations Less Than or Equal To 12m ,Rural,9812906,10282757,11223256,8779223,146041

Europe,Elevations Less Than or Equal To 12m ,Urban,38167942,39417882,44201162,37110048,57906

Europe,Elevations Less Than or Equal To 1m,Rural,3742831,3912040,4227031,3236008,50401

Europe,Elevations Less Than or Equal To 1m,Urban,9954478,10380836,11579113,9648341,15628

Europe,Elevations Less Than or Equal To 20m ,Rural,13208952,13851590,15226199,11697732,212558

Europe,Elevations Less Than or Equal To 20m ,Urban,53512695,55319289,62521646,51814850,84008

Europe,Elevations Less Than or Equal To 3m,Rural,5224425,5463529,5929681,4744031,72134

Europe,Elevations Less Than or Equal To 3m,Urban,16234092,16801906,18647708,15853153,24784

Europe,Elevations Less Than or Equal To 5m,Rural,6411169,6704539,7286949,5832084,89853

Europe,Elevations Less Than or Equal To 5m,Urban,21755340,22473128,24902148,21290248,32735

Europe,Elevations Less Than or Equal To 7m,Rural,7515264,7865709,8568306,6811908,106158

Europe,Elevations Less Than or Equal To 7m,Urban,26861165,27736249,30779447,26298853,40204

Europe,Elevations Less Than or Equal To 9m,Rural,8463637,8861773,9662812,7634002,121681

Europe,Elevations Less Than or Equal To 9m,Urban,31613048,32647909,36469169,30887023,47442

Europe,Total National Population,Rural,176568570,176558812,223529720,125348019,4840266

Europe,Total National Population,Urban,362783257,371322835,481254575,317506277,632478

North America,Elevations > 20m or Non-Contiguous ,Rural,113350248,128596426,128023212,255497778,19520575

North America,Elevations > 20m or Non-Contiguous ,Urban,260535875,296757222,314603927,402225848,972417

North America,Elevations Less Than or Equal To 10m ,Rural,4510499,5107953,4527895,8103077,536562

North America,Elevations Less Than or Equal To 10m ,Urban,24575726,27509478,28219257,46670306,61651

North America,Elevations Less Than or Equal To 12m ,Rural,5388410,6126378,5451414,9794501,605670

North America,Elevations Less Than or Equal To 12m ,Urban,30668871,34389588,35375008,58139996,76003

North America,Elevations Less Than or Equal To 1m,Rural,592705,666803,610997,1027386,171365

North America,Elevations Less Than or Equal To 1m,Urban,1566679,1730214,1814077,2382101,5968

North America,Elevations Less Than or Equal To 20m ,Rural,8380426,9640179,8701571,15548820,867403

North America,Elevations Less Than or Equal To 20m ,Urban,47379912,52995004,54253029,83639047,115225

North America,Elevations Less Than or Equal To 3m,Rural,1183749,1344383,1233602,2012079,252729

North America,Elevations Less Than or Equal To 3m,Urban,4024295,4406582,4551369,6066943,12827

North America,Elevations Less Than or Equal To 5m,Rural,2078406,2337609,2079421,3593976,341640

North America,Elevations Less Than or Equal To 5m,Urban,7848219,8590398,8771636,11828205,22829

North America,Elevations Less Than or Equal To 7m,Rural,3088571,3465549,3050583,5396471,425342

North America,Elevations Less Than or Equal To 7m,Urban,13479682,14889220,15145037,21342474,36321

North America,Elevations Less Than or Equal To 9m,Rural,4038490,4562798,4039761,7143160,499762

North America,Elevations Less Than or Equal To 9m,Urban,20649659,23006285,23449955,38174996,51825

North America,Total National Population,Rural,121730674,138236608,136724785,271046607,20387978

North America,Total National Population,Urban,307915785,349752222,368856952,485864890,1087642

South America,Elevations > 20m or Non-Contiguous ,Rural,105821441,119567258,131717443,223382699,15247746

South America,Elevations > 20m or Non-Contiguous ,Urban,146797669,176550823,203339934,329625178,270241

South America,Elevations Less Than or Equal To 10m ,Rural,3707829,4283574,4703764,8943181,228599

South America,Elevations Less Than or Equal To 10m ,Urban,14465697,17036372,19621238,32574367,19343

South America,Elevations Less Than or Equal To 12m ,Rural,4291797,4967927,5459057,10353931,266951

South America,Elevations Less Than or Equal To 12m ,Urban,17264014,20333114,23397554,38844410,22783

South America,Elevations Less Than or Equal To 1m,Rural,473008,561960,619126,1091701,20582

South America,Elevations Less Than or Equal To 1m,Urban,709558,868060,1009758,1591369,1159

South America,Elevations Less Than or Equal To 20m ,Rural,6529092,7584065,8338764,15819940,452502

South America,Elevations Less Than or Equal To 20m ,Urban,27065733,31912544,36628423,59958936,34982

South America,Elevations Less Than or Equal To 3m,Rural,943950,1106559,1214846,2218252,55898

South America,Elevations Less Than or Equal To 3m,Urban,2117574,2538559,2938229,4406100,3758

South America,Elevations Less Than or Equal To 5m,Rural,1804718,2093408,2291934,4244576,110866

South America,Elevations Less Than or Equal To 5m,Urban,5101423,6089933,7038516,11400038,8354

South America,Elevations Less Than or Equal To 7m,Rural,2680636,3089887,3387405,6416774,165073

South America,Elevations Less Than or Equal To 7m,Urban,9357959,11074365,12771388,21107053,13236

South America,Elevations Less Than or Equal To 9m,Rural,3373239,3888725,4267061,8057467,208002

South America,Elevations Less Than or Equal To 9m,Urban,12822897,15110534,17402616,28930098,17430

South America,Total National Population,Rural,112350531,127151325,140056209,239202641,15711683

South America,Total National Population,Urban,173863402,208463363,239968353,389584115,306223

>At this point, the file cursor we created when we first opened the file is now at the end of the file. To get the file contents again, we'll need to repeat the open() command to reset the cursor. If we were to run the loop again, we'd get no output from the loop.

In [127]:
with open('dropbox/github/Thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.csv', 'rU') as inputFile:
    header = next(inputFile) #iterates to the next value)
    for line in inputFile:
        print(line)

Africa,Elevations > 20m or Non-Contiguous ,Rural,333302081,418265923,530184094,1249908321,23749644

Africa,Elevations > 20m or Non-Contiguous ,Urban,157846329,210381843,266776037,504662423,204719

Africa,Elevations Less Than or Equal To 10m ,Rural,18167003,22569516,28154645,76368900,172460

Africa,Elevations Less Than or Equal To 10m ,Urban,22412955,28679117,36746774,94042536,13838

Africa,Elevations Less Than or Equal To 12m ,Rural,20569411,25576481,31957186,85839163,202456

Africa,Elevations Less Than or Equal To 12m ,Urban,25761403,32968917,42205337,105920405,16035

Africa,Elevations Less Than or Equal To 1m,Rural,3052584,3891608,4785451,14152403,21939

Africa,Elevations Less Than or Equal To 1m,Urban,4056678,4791461,5915752,21137853,2193

Africa,Elevations Less Than or Equal To 20m ,Rural,27791636,34704704,43734340,118040942,342694

Africa,Elevations Less Than or Equal To 20m ,Urban,37566072,47749797,60835348,145244129,23456

Africa,Elevations Less Than or Equal To 3m,Rural,6178557,7763536,9586584,27430640,46301

Africa,Elevations Less Than or Equal To 3m,Urban,7194770,8762218,11005850,34775942,4662

Africa,Elevations Less Than or Equal To 5m,Rural,9969005,12408335,15403231,43327033,84084

Africa,Elevations Less Than or Equal To 5m,Urban,11597788,14488902,18449258,53508839,7366

Africa,Elevations Less Than or Equal To 7m,Rural,13595903,16884460,21018235,58101349,121581

Africa,Elevations Less Than or Equal To 7m,Urban,16197359,20564492,26333878,71409170,10121

Africa,Elevations Less Than or Equal To 9m,Rural,16858764,20937690,26100880,71204360,156291

Africa,Elevations Less Than or Equal To 9m,Urban,20542430,26255213,33641605,87324590,12665

Africa,Total National Population,Rural,361093713,452970623,573918429,1367949254,24092338

Africa,Total National Population,Urban,195412402,258131640,327611385,649906552,228175

Asia,Elevations > 20m or Non-Contiguous ,Rural,1680481883,1798416711,1974005089,2874557238,37883607

Asia,Elevations > 20m or Non-Contiguous ,Urban,918668080,1175247232,1262609098,1764942637,1122788

Asia,Elevations Less Than or Equal To 10m ,Rural,191278674,210541251,234663295,374695595,969683

Asia,Elevations Less Than or Equal To 10m ,Urban,203398169,252379433,290492264,377327872,129278

Asia,Elevations Less Than or Equal To 12m ,Rural,219960928,243052196,271741911,437367709,1128770

Asia,Elevations Less Than or Equal To 12m ,Urban,233147526,289429187,333361953,434901291,149673

Asia,Elevations Less Than or Equal To 1m,Rural,18459117,20808077,22164683,33476823,109974

Asia,Elevations Less Than or Equal To 1m,Urban,15105001,19858184,21974625,27586527,12590

Asia,Elevations Less Than or Equal To 20m ,Rural,299462435,331270619,371915099,603768417,1764932

Asia,Elevations Less Than or Equal To 20m ,Urban,319318447,397909472,458321169,604216625,213823

Asia,Elevations Less Than or Equal To 3m,Rural,48168060,53093971,57758563,85812360,266138

Asia,Elevations Less Than or Equal To 3m,Urban,37555825,48341898,54512396,68677562,31423

Asia,Elevations Less Than or Equal To 5m,Rural,96000422,104609114,114983028,175319939,478303

Asia,Elevations Less Than or Equal To 5m,Urban,87109915,109542006,124916072,158748008,62383

Asia,Elevations Less Than or Equal To 7m,Rural,139082069,152030350,168232444,262405032,697177

Asia,Elevations Less Than or Equal To 7m,Urban,141792154,176453451,202546292,260137398,92410

Asia,Elevations Less Than or Equal To 9m,Rural,175412216,192696616,214358663,340006165,886176

Asia,Elevations Less Than or Equal To 9m,Urban,185617116,230392535,264967068,343068584,118075

Asia,Total National Population,Rural,1979944334,2129687281,2345920129,3478325610,39648539

Asia,Total National Population,Urban,1237986520,1573156714,1720930281,2369159274,1336611

Oceania,Elevations > 20m or Non-Contiguous ,Rural,8427284,10127646,12434027,18743701,8174117

Oceania,Elevations Less Than or Equal To 10m ,Rural,636248,747250,871503,1012881,126545

Oceania,Elevations Less Than or Equal To 12m ,Rural,762204,897802,1051538,1218603,155196

Oceania,Elevations Less Than or Equal To 1m,Rural,99919,115905,134633,128828,9146

Oceania,Elevations Less Than or Equal To 20m ,Rural,1134007,1343603,1590022,1937585,267534

Oceania,Elevations Less Than or Equal To 3m,Rural,164304,191743,222130,233985,22561

Oceania,Elevations Less Than or Equal To 5m,Rural,287793,335546,388501,434716,51897

Oceania,Elevations Less Than or Equal To 7m,Rural,428625,500441,580295,662121,83533

Oceania,Elevations Less Than or Equal To 9m,Rural,568706,666939,776354,900481,110497

Oceania,Total National Population,Rural,9561292,11471250,14024049,20681609,8441651

Oceania,Elevations > 20m or Non-Contiguous ,Urban,12547162,14195786,16912718,18658175,39148

Oceania,Elevations Less Than or Equal To 10m ,Urban,2200753,2532995,3003692,3293517,5852

Oceania,Elevations Less Than or Equal To 12m ,Urban,2729119,3136967,3721347,4023841,7139

Oceania,Elevations Less Than or Equal To 1m,Urban,92528,105767,125631,136478,227

Oceania,Elevations Less Than or Equal To 20m ,Urban,4589488,5255982,6240084,6566734,11449

Oceania,Elevations Less Than or Equal To 3m,Urban,310744,361508,430433,499388,881

Oceania,Elevations Less Than or Equal To 5m,Urban,752050,874001,1038190,1179988,2222

Oceania,Elevations Less Than or Equal To 7m,Urban,1342907,1552001,1841419,2048884,3708

Oceania,Elevations Less Than or Equal To 9m,Urban,1945861,2240098,2656137,2937199,5173

Oceania,Total National Population,Urban,17136649,19451769,23152802,25224909,50597

Europe,Elevations > 20m or Non-Contiguous ,Rural,163359246,162706798,208303075,113649857,4627707

Europe,Elevations > 20m or Non-Contiguous ,Urban,309270561,316003549,418732932,265691431,548471

Europe,Elevations Less Than or Equal To 10m ,Rural,8921599,9344934,10191711,8029402,129830

Europe,Elevations Less Than or Equal To 10m ,Urban,33776617,34884603,39019817,32965986,50897

Europe,Elevations Less Than or Equal To 12m ,Rural,9812906,10282757,11223256,8779223,146041

Europe,Elevations Less Than or Equal To 12m ,Urban,38167942,39417882,44201162,37110048,57906

Europe,Elevations Less Than or Equal To 1m,Rural,3742831,3912040,4227031,3236008,50401

Europe,Elevations Less Than or Equal To 1m,Urban,9954478,10380836,11579113,9648341,15628

Europe,Elevations Less Than or Equal To 20m ,Rural,13208952,13851590,15226199,11697732,212558

Europe,Elevations Less Than or Equal To 20m ,Urban,53512695,55319289,62521646,51814850,84008

Europe,Elevations Less Than or Equal To 3m,Rural,5224425,5463529,5929681,4744031,72134

Europe,Elevations Less Than or Equal To 3m,Urban,16234092,16801906,18647708,15853153,24784

Europe,Elevations Less Than or Equal To 5m,Rural,6411169,6704539,7286949,5832084,89853

Europe,Elevations Less Than or Equal To 5m,Urban,21755340,22473128,24902148,21290248,32735

Europe,Elevations Less Than or Equal To 7m,Rural,7515264,7865709,8568306,6811908,106158

Europe,Elevations Less Than or Equal To 7m,Urban,26861165,27736249,30779447,26298853,40204

Europe,Elevations Less Than or Equal To 9m,Rural,8463637,8861773,9662812,7634002,121681

Europe,Elevations Less Than or Equal To 9m,Urban,31613048,32647909,36469169,30887023,47442

Europe,Total National Population,Rural,176568570,176558812,223529720,125348019,4840266

Europe,Total National Population,Urban,362783257,371322835,481254575,317506277,632478

North America,Elevations > 20m or Non-Contiguous ,Rural,113350248,128596426,128023212,255497778,19520575

North America,Elevations > 20m or Non-Contiguous ,Urban,260535875,296757222,314603927,402225848,972417

North America,Elevations Less Than or Equal To 10m ,Rural,4510499,5107953,4527895,8103077,536562

North America,Elevations Less Than or Equal To 10m ,Urban,24575726,27509478,28219257,46670306,61651

North America,Elevations Less Than or Equal To 12m ,Rural,5388410,6126378,5451414,9794501,605670

North America,Elevations Less Than or Equal To 12m ,Urban,30668871,34389588,35375008,58139996,76003

North America,Elevations Less Than or Equal To 1m,Rural,592705,666803,610997,1027386,171365

North America,Elevations Less Than or Equal To 1m,Urban,1566679,1730214,1814077,2382101,5968

North America,Elevations Less Than or Equal To 20m ,Rural,8380426,9640179,8701571,15548820,867403

North America,Elevations Less Than or Equal To 20m ,Urban,47379912,52995004,54253029,83639047,115225

North America,Elevations Less Than or Equal To 3m,Rural,1183749,1344383,1233602,2012079,252729

North America,Elevations Less Than or Equal To 3m,Urban,4024295,4406582,4551369,6066943,12827

North America,Elevations Less Than or Equal To 5m,Rural,2078406,2337609,2079421,3593976,341640

North America,Elevations Less Than or Equal To 5m,Urban,7848219,8590398,8771636,11828205,22829

North America,Elevations Less Than or Equal To 7m,Rural,3088571,3465549,3050583,5396471,425342

North America,Elevations Less Than or Equal To 7m,Urban,13479682,14889220,15145037,21342474,36321

North America,Elevations Less Than or Equal To 9m,Rural,4038490,4562798,4039761,7143160,499762

North America,Elevations Less Than or Equal To 9m,Urban,20649659,23006285,23449955,38174996,51825

North America,Total National Population,Rural,121730674,138236608,136724785,271046607,20387978

North America,Total National Population,Urban,307915785,349752222,368856952,485864890,1087642

South America,Elevations > 20m or Non-Contiguous ,Rural,105821441,119567258,131717443,223382699,15247746

South America,Elevations > 20m or Non-Contiguous ,Urban,146797669,176550823,203339934,329625178,270241

South America,Elevations Less Than or Equal To 10m ,Rural,3707829,4283574,4703764,8943181,228599

South America,Elevations Less Than or Equal To 10m ,Urban,14465697,17036372,19621238,32574367,19343

South America,Elevations Less Than or Equal To 12m ,Rural,4291797,4967927,5459057,10353931,266951

South America,Elevations Less Than or Equal To 12m ,Urban,17264014,20333114,23397554,38844410,22783

South America,Elevations Less Than or Equal To 1m,Rural,473008,561960,619126,1091701,20582

South America,Elevations Less Than or Equal To 1m,Urban,709558,868060,1009758,1591369,1159

South America,Elevations Less Than or Equal To 20m ,Rural,6529092,7584065,8338764,15819940,452502

South America,Elevations Less Than or Equal To 20m ,Urban,27065733,31912544,36628423,59958936,34982

South America,Elevations Less Than or Equal To 3m,Rural,943950,1106559,1214846,2218252,55898

South America,Elevations Less Than or Equal To 3m,Urban,2117574,2538559,2938229,4406100,3758

South America,Elevations Less Than or Equal To 5m,Rural,1804718,2093408,2291934,4244576,110866

South America,Elevations Less Than or Equal To 5m,Urban,5101423,6089933,7038516,11400038,8354

South America,Elevations Less Than or Equal To 7m,Rural,2680636,3089887,3387405,6416774,165073

South America,Elevations Less Than or Equal To 7m,Urban,9357959,11074365,12771388,21107053,13236

South America,Elevations Less Than or Equal To 9m,Rural,3373239,3888725,4267061,8057467,208002

South America,Elevations Less Than or Equal To 9m,Urban,12822897,15110534,17402616,28930098,17430

South America,Total National Population,Rural,112350531,127151325,140056209,239202641,15711683

South America,Total National Population,Urban,173863402,208463363,239968353,389584115,306223

>We add the rstrip() to remove any trailing or leading spaces. Notice that we use that first and then call split(). You also notice that line is now a list rather than a string. This means we can reference the elements using the index just like with the lists we worked with earlier.

In [135]:
with open('dropbox/github/Thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        print(line)

['Africa', 'Elevations > 20m or Non-Contiguous ', 'Rural', '333302081', '418265923', '530184094', '1249908321', '23749644']
['Africa', 'Elevations > 20m or Non-Contiguous ', 'Urban', '157846329', '210381843', '266776037', '504662423', '204719']
['Africa', 'Elevations Less Than or Equal To 10m ', 'Rural', '18167003', '22569516', '28154645', '76368900', '172460']
['Africa', 'Elevations Less Than or Equal To 10m ', 'Urban', '22412955', '28679117', '36746774', '94042536', '13838']
['Africa', 'Elevations Less Than or Equal To 12m ', 'Rural', '20569411', '25576481', '31957186', '85839163', '202456']
['Africa', 'Elevations Less Than or Equal To 12m ', 'Urban', '25761403', '32968917', '42205337', '105920405', '16035']
['Africa', 'Elevations Less Than or Equal To 1m', 'Rural', '3052584', '3891608', '4785451', '14152403', '21939']
['Africa', 'Elevations Less Than or Equal To 1m', 'Urban', '4056678', '4791461', '5915752', '21137853', '2193']
['Africa', 'Elevations Less Than or Equal To 20m ', 'Rural', '27791636', '34704704', '43734340', '118040942', '342694']
['Africa', 'Elevations Less Than or Equal To 20m ', 'Urban', '37566072', '47749797', '60835348', '145244129', '23456']
['Africa', 'Elevations Less Than or Equal To 3m', 'Rural', '6178557', '7763536', '9586584', '27430640', '46301']
['Africa', 'Elevations Less Than or Equal To 3m', 'Urban', '7194770', '8762218', '11005850', '34775942', '4662']
['Africa', 'Elevations Less Than or Equal To 5m', 'Rural', '9969005', '12408335', '15403231', '43327033', '84084']
['Africa', 'Elevations Less Than or Equal To 5m', 'Urban', '11597788', '14488902', '18449258', '53508839', '7366']
['Africa', 'Elevations Less Than or Equal To 7m', 'Rural', '13595903', '16884460', '21018235', '58101349', '121581']
['Africa', 'Elevations Less Than or Equal To 7m', 'Urban', '16197359', '20564492', '26333878', '71409170', '10121']
['Africa', 'Elevations Less Than or Equal To 9m', 'Rural', '16858764', '20937690', '26100880', '71204360', '156291']
['Africa', 'Elevations Less Than or Equal To 9m', 'Urban', '20542430', '26255213', '33641605', '87324590', '12665']
['Africa', 'Total National Population', 'Rural', '361093713', '452970623', '573918429', '1367949254', '24092338']
['Africa', 'Total National Population', 'Urban', '195412402', '258131640', '327611385', '649906552', '228175']
['Asia', 'Elevations > 20m or Non-Contiguous ', 'Rural', '1680481883', '1798416711', '1974005089', '2874557238', '37883607']
['Asia', 'Elevations > 20m or Non-Contiguous ', 'Urban', '918668080', '1175247232', '1262609098', '1764942637', '1122788']
['Asia', 'Elevations Less Than or Equal To 10m ', 'Rural', '191278674', '210541251', '234663295', '374695595', '969683']
['Asia', 'Elevations Less Than or Equal To 10m ', 'Urban', '203398169', '252379433', '290492264', '377327872', '129278']
['Asia', 'Elevations Less Than or Equal To 12m ', 'Rural', '219960928', '243052196', '271741911', '437367709', '1128770']
['Asia', 'Elevations Less Than or Equal To 12m ', 'Urban', '233147526', '289429187', '333361953', '434901291', '149673']
['Asia', 'Elevations Less Than or Equal To 1m', 'Rural', '18459117', '20808077', '22164683', '33476823', '109974']
['Asia', 'Elevations Less Than or Equal To 1m', 'Urban', '15105001', '19858184', '21974625', '27586527', '12590']
['Asia', 'Elevations Less Than or Equal To 20m ', 'Rural', '299462435', '331270619', '371915099', '603768417', '1764932']
['Asia', 'Elevations Less Than or Equal To 20m ', 'Urban', '319318447', '397909472', '458321169', '604216625', '213823']
['Asia', 'Elevations Less Than or Equal To 3m', 'Rural', '48168060', '53093971', '57758563', '85812360', '266138']
['Asia', 'Elevations Less Than or Equal To 3m', 'Urban', '37555825', '48341898', '54512396', '68677562', '31423']
['Asia', 'Elevations Less Than or Equal To 5m', 'Rural', '96000422', '104609114', '114983028', '175319939', '478303']
['Asia', 'Elevations Less Than or Equal To 5m', 'Urban', '87109915', '109542006', '124916072', '158748008', '62383']
['Asia', 'Elevations Less Than or Equal To 7m', 'Rural', '139082069', '152030350', '168232444', '262405032', '697177']
['Asia', 'Elevations Less Than or Equal To 7m', 'Urban', '141792154', '176453451', '202546292', '260137398', '92410']
['Asia', 'Elevations Less Than or Equal To 9m', 'Rural', '175412216', '192696616', '214358663', '340006165', '886176']
['Asia', 'Elevations Less Than or Equal To 9m', 'Urban', '185617116', '230392535', '264967068', '343068584', '118075']
['Asia', 'Total National Population', 'Rural', '1979944334', '2129687281', '2345920129', '3478325610', '39648539']
['Asia', 'Total National Population', 'Urban', '1237986520', '1573156714', '1720930281', '2369159274', '1336611']
['Oceania', 'Elevations > 20m or Non-Contiguous ', 'Rural', '8427284', '10127646', '12434027', '18743701', '8174117']
['Oceania', 'Elevations Less Than or Equal To 10m ', 'Rural', '636248', '747250', '871503', '1012881', '126545']
['Oceania', 'Elevations Less Than or Equal To 12m ', 'Rural', '762204', '897802', '1051538', '1218603', '155196']
['Oceania', 'Elevations Less Than or Equal To 1m', 'Rural', '99919', '115905', '134633', '128828', '9146']
['Oceania', 'Elevations Less Than or Equal To 20m ', 'Rural', '1134007', '1343603', '1590022', '1937585', '267534']
['Oceania', 'Elevations Less Than or Equal To 3m', 'Rural', '164304', '191743', '222130', '233985', '22561']
['Oceania', 'Elevations Less Than or Equal To 5m', 'Rural', '287793', '335546', '388501', '434716', '51897']
['Oceania', 'Elevations Less Than or Equal To 7m', 'Rural', '428625', '500441', '580295', '662121', '83533']
['Oceania', 'Elevations Less Than or Equal To 9m', 'Rural', '568706', '666939', '776354', '900481', '110497']
['Oceania', 'Total National Population', 'Rural', '9561292', '11471250', '14024049', '20681609', '8441651']
['Oceania', 'Elevations > 20m or Non-Contiguous ', 'Urban', '12547162', '14195786', '16912718', '18658175', '39148']
['Oceania', 'Elevations Less Than or Equal To 10m ', 'Urban', '2200753', '2532995', '3003692', '3293517', '5852']
['Oceania', 'Elevations Less Than or Equal To 12m ', 'Urban', '2729119', '3136967', '3721347', '4023841', '7139']
['Oceania', 'Elevations Less Than or Equal To 1m', 'Urban', '92528', '105767', '125631', '136478', '227']
['Oceania', 'Elevations Less Than or Equal To 20m ', 'Urban', '4589488', '5255982', '6240084', '6566734', '11449']
['Oceania', 'Elevations Less Than or Equal To 3m', 'Urban', '310744', '361508', '430433', '499388', '881']
['Oceania', 'Elevations Less Than or Equal To 5m', 'Urban', '752050', '874001', '1038190', '1179988', '2222']
['Oceania', 'Elevations Less Than or Equal To 7m', 'Urban', '1342907', '1552001', '1841419', '2048884', '3708']
['Oceania', 'Elevations Less Than or Equal To 9m', 'Urban', '1945861', '2240098', '2656137', '2937199', '5173']
['Oceania', 'Total National Population', 'Urban', '17136649', '19451769', '23152802', '25224909', '50597']
['Europe', 'Elevations > 20m or Non-Contiguous ', 'Rural', '163359246', '162706798', '208303075', '113649857', '4627707']
['Europe', 'Elevations > 20m or Non-Contiguous ', 'Urban', '309270561', '316003549', '418732932', '265691431', '548471']
['Europe', 'Elevations Less Than or Equal To 10m ', 'Rural', '8921599', '9344934', '10191711', '8029402', '129830']
['Europe', 'Elevations Less Than or Equal To 10m ', 'Urban', '33776617', '34884603', '39019817', '32965986', '50897']
['Europe', 'Elevations Less Than or Equal To 12m ', 'Rural', '9812906', '10282757', '11223256', '8779223', '146041']
['Europe', 'Elevations Less Than or Equal To 12m ', 'Urban', '38167942', '39417882', '44201162', '37110048', '57906']
['Europe', 'Elevations Less Than or Equal To 1m', 'Rural', '3742831', '3912040', '4227031', '3236008', '50401']
['Europe', 'Elevations Less Than or Equal To 1m', 'Urban', '9954478', '10380836', '11579113', '9648341', '15628']
['Europe', 'Elevations Less Than or Equal To 20m ', 'Rural', '13208952', '13851590', '15226199', '11697732', '212558']
['Europe', 'Elevations Less Than or Equal To 20m ', 'Urban', '53512695', '55319289', '62521646', '51814850', '84008']
['Europe', 'Elevations Less Than or Equal To 3m', 'Rural', '5224425', '5463529', '5929681', '4744031', '72134']
['Europe', 'Elevations Less Than or Equal To 3m', 'Urban', '16234092', '16801906', '18647708', '15853153', '24784']
['Europe', 'Elevations Less Than or Equal To 5m', 'Rural', '6411169', '6704539', '7286949', '5832084', '89853']
['Europe', 'Elevations Less Than or Equal To 5m', 'Urban', '21755340', '22473128', '24902148', '21290248', '32735']
['Europe', 'Elevations Less Than or Equal To 7m', 'Rural', '7515264', '7865709', '8568306', '6811908', '106158']
['Europe', 'Elevations Less Than or Equal To 7m', 'Urban', '26861165', '27736249', '30779447', '26298853', '40204']
['Europe', 'Elevations Less Than or Equal To 9m', 'Rural', '8463637', '8861773', '9662812', '7634002', '121681']
['Europe', 'Elevations Less Than or Equal To 9m', 'Urban', '31613048', '32647909', '36469169', '30887023', '47442']
['Europe', 'Total National Population', 'Rural', '176568570', '176558812', '223529720', '125348019', '4840266']
['Europe', 'Total National Population', 'Urban', '362783257', '371322835', '481254575', '317506277', '632478']
['North America', 'Elevations > 20m or Non-Contiguous ', 'Rural', '113350248', '128596426', '128023212', '255497778', '19520575']
['North America', 'Elevations > 20m or Non-Contiguous ', 'Urban', '260535875', '296757222', '314603927', '402225848', '972417']
['North America', 'Elevations Less Than or Equal To 10m ', 'Rural', '4510499', '5107953', '4527895', '8103077', '536562']
['North America', 'Elevations Less Than or Equal To 10m ', 'Urban', '24575726', '27509478', '28219257', '46670306', '61651']
['North America', 'Elevations Less Than or Equal To 12m ', 'Rural', '5388410', '6126378', '5451414', '9794501', '605670']
['North America', 'Elevations Less Than or Equal To 12m ', 'Urban', '30668871', '34389588', '35375008', '58139996', '76003']
['North America', 'Elevations Less Than or Equal To 1m', 'Rural', '592705', '666803', '610997', '1027386', '171365']
['North America', 'Elevations Less Than or Equal To 1m', 'Urban', '1566679', '1730214', '1814077', '2382101', '5968']
['North America', 'Elevations Less Than or Equal To 20m ', 'Rural', '8380426', '9640179', '8701571', '15548820', '867403']
['North America', 'Elevations Less Than or Equal To 20m ', 'Urban', '47379912', '52995004', '54253029', '83639047', '115225']
['North America', 'Elevations Less Than or Equal To 3m', 'Rural', '1183749', '1344383', '1233602', '2012079', '252729']
['North America', 'Elevations Less Than or Equal To 3m', 'Urban', '4024295', '4406582', '4551369', '6066943', '12827']
['North America', 'Elevations Less Than or Equal To 5m', 'Rural', '2078406', '2337609', '2079421', '3593976', '341640']
['North America', 'Elevations Less Than or Equal To 5m', 'Urban', '7848219', '8590398', '8771636', '11828205', '22829']
['North America', 'Elevations Less Than or Equal To 7m', 'Rural', '3088571', '3465549', '3050583', '5396471', '425342']
['North America', 'Elevations Less Than or Equal To 7m', 'Urban', '13479682', '14889220', '15145037', '21342474', '36321']
['North America', 'Elevations Less Than or Equal To 9m', 'Rural', '4038490', '4562798', '4039761', '7143160', '499762']
['North America', 'Elevations Less Than or Equal To 9m', 'Urban', '20649659', '23006285', '23449955', '38174996', '51825']
['North America', 'Total National Population', 'Rural', '121730674', '138236608', '136724785', '271046607', '20387978']
['North America', 'Total National Population', 'Urban', '307915785', '349752222', '368856952', '485864890', '1087642']
['South America', 'Elevations > 20m or Non-Contiguous ', 'Rural', '105821441', '119567258', '131717443', '223382699', '15247746']
['South America', 'Elevations > 20m or Non-Contiguous ', 'Urban', '146797669', '176550823', '203339934', '329625178', '270241']
['South America', 'Elevations Less Than or Equal To 10m ', 'Rural', '3707829', '4283574', '4703764', '8943181', '228599']
['South America', 'Elevations Less Than or Equal To 10m ', 'Urban', '14465697', '17036372', '19621238', '32574367', '19343']
['South America', 'Elevations Less Than or Equal To 12m ', 'Rural', '4291797', '4967927', '5459057', '10353931', '266951']
['South America', 'Elevations Less Than or Equal To 12m ', 'Urban', '17264014', '20333114', '23397554', '38844410', '22783']
['South America', 'Elevations Less Than or Equal To 1m', 'Rural', '473008', '561960', '619126', '1091701', '20582']
['South America', 'Elevations Less Than or Equal To 1m', 'Urban', '709558', '868060', '1009758', '1591369', '1159']
['South America', 'Elevations Less Than or Equal To 20m ', 'Rural', '6529092', '7584065', '8338764', '15819940', '452502']
['South America', 'Elevations Less Than or Equal To 20m ', 'Urban', '27065733', '31912544', '36628423', '59958936', '34982']
['South America', 'Elevations Less Than or Equal To 3m', 'Rural', '943950', '1106559', '1214846', '2218252', '55898']
['South America', 'Elevations Less Than or Equal To 3m', 'Urban', '2117574', '2538559', '2938229', '4406100', '3758']
['South America', 'Elevations Less Than or Equal To 5m', 'Rural', '1804718', '2093408', '2291934', '4244576', '110866']
['South America', 'Elevations Less Than or Equal To 5m', 'Urban', '5101423', '6089933', '7038516', '11400038', '8354']
['South America', 'Elevations Less Than or Equal To 7m', 'Rural', '2680636', '3089887', '3387405', '6416774', '165073']
['South America', 'Elevations Less Than or Equal To 7m', 'Urban', '9357959', '11074365', '12771388', '21107053', '13236']
['South America', 'Elevations Less Than or Equal To 9m', 'Rural', '3373239', '3888725', '4267061', '8057467', '208002']
['South America', 'Elevations Less Than or Equal To 9m', 'Urban', '12822897', '15110534', '17402616', '28930098', '17430']
['South America', 'Total National Population', 'Rural', '112350531', '127151325', '140056209', '239202641', '15711683']
['South America', 'Total National Population', 'Urban', '173863402', '208463363', '239968353', '389584115', '306223']

In [149]:

with open('dropbox/github/Thinkful/unit1/data/lecz-urban-rural-\
population-land-area-estimates_continent-90m.\
csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        if line[1] == 'Total National Population':
            print(line)

['Africa', 'Total National Population', 'Rural', '361093713', '452970623', '573918429', '1367949254', '24092338']
['Africa', 'Total National Population', 'Urban', '195412402', '258131640', '327611385', '649906552', '228175']
['Asia', 'Total National Population', 'Rural', '1979944334', '2129687281', '2345920129', '3478325610', '39648539']
['Asia', 'Total National Population', 'Urban', '1237986520', '1573156714', '1720930281', '2369159274', '1336611']
['Oceania', 'Total National Population', 'Rural', '9561292', '11471250', '14024049', '20681609', '8441651']
['Oceania', 'Total National Population', 'Urban', '17136649', '19451769', '23152802', '25224909', '50597']
['Europe', 'Total National Population', 'Rural', '176568570', '176558812', '223529720', '125348019', '4840266']
['Europe', 'Total National Population', 'Urban', '362783257', '371322835', '481254575', '317506277', '632478']
['North America', 'Total National Population', 'Rural', '121730674', '138236608', '136724785', '271046607', '20387978']
['North America', 'Total National Population', 'Urban', '307915785', '349752222', '368856952', '485864890', '1087642']
['South America', 'Total National Population', 'Rural', '112350531', '127151325', '140056209', '239202641', '15711683']
['South America', 'Total National Population', 'Urban', '173863402', '208463363', '239968353', '389584115', '306223']

In [152]:
inputFile = open('dropbox/github/thinkful/unit1/data/\
lecz-urban-rural-population-land-area-estimates_continent\
-90m.csv', 'r')

header = next(inputFile)

for line in inputFile:
    line = line.rstrip().split(',')
    if line[1] == 'Total National Population':
        print(line)
inputFile.close()

['Africa', 'Total National Population', 'Rural', '361093713', '452970623', '573918429', '1367949254', '24092338']
['Africa', 'Total National Population', 'Urban', '195412402', '258131640', '327611385', '649906552', '228175']
['Asia', 'Total National Population', 'Rural', '1979944334', '2129687281', '2345920129', '3478325610', '39648539']
['Asia', 'Total National Population', 'Urban', '1237986520', '1573156714', '1720930281', '2369159274', '1336611']
['Oceania', 'Total National Population', 'Rural', '9561292', '11471250', '14024049', '20681609', '8441651']
['Oceania', 'Total National Population', 'Urban', '17136649', '19451769', '23152802', '25224909', '50597']
['Europe', 'Total National Population', 'Rural', '176568570', '176558812', '223529720', '125348019', '4840266']
['Europe', 'Total National Population', 'Urban', '362783257', '371322835', '481254575', '317506277', '632478']
['North America', 'Total National Population', 'Rural', '121730674', '138236608', '136724785', '271046607', '20387978']
['North America', 'Total National Population', 'Urban', '307915785', '349752222', '368856952', '485864890', '1087642']
['South America', 'Total National Population', 'Rural', '112350531', '127151325', '140056209', '239202641', '15711683']
['South America', 'Total National Population', 'Urban', '173863402', '208463363', '239968353', '389584115', '306223']

In [153]:
header = header.rstrip().split(',')
print(header)

['Continent', 'ElevationZone', 'UrbanRuralDesignation', 'Population1990', 'Population2000', 'Population2010', 'Population2100', 'LandArea']

In [157]:
with open('dropbox/github/thinkful/unit1/data/\
lecz-urban-rural-population-land-area-estimates_continent\
-90m.csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        if line[1] == 'Total National Population':
            print( line[0], line[5], type(line[5]) )

Africa 573918429 <class 'str'>
Africa 327611385 <class 'str'>
Asia 2345920129 <class 'str'>
Asia 1720930281 <class 'str'>
Oceania 14024049 <class 'str'>
Oceania 23152802 <class 'str'>
Europe 223529720 <class 'str'>
Europe 481254575 <class 'str'>
North America 136724785 <class 'str'>
North America 368856952 <class 'str'>
South America 140056209 <class 'str'>
South America 239968353 <class 'str'>

In [163]:
with open('dropbox/github/thinkful/unit1/data/\
lecz-urban-rural-population-land-area-estimates_continent\
-90m.csv', 'rU') as inputFile:
    header = next(inputFile) #pops the headline
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5])
        if line[1] == 'Total National Population':
            print( line[0], line[5], type(line[5]) )

Africa 573918429 <class 'int'>
Africa 327611385 <class 'int'>
Asia 2345920129 <class 'int'>
Asia 1720930281 <class 'int'>
Oceania 14024049 <class 'int'>
Oceania 23152802 <class 'int'>
Europe 223529720 <class 'int'>
Europe 481254575 <class 'int'>
North America 136724785 <class 'int'>
North America 368856952 <class 'int'>
South America 140056209 <class 'int'>
South America 239968353 <class 'int'>

In [164]:
import collections

In [168]:
population_dict = collections.defaultdict(int)
with open('dropbox/github/thinkful/unit1/data/lecz-urban-\
rural-population-land-area-estimates_continent-90m.\
csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5])
        if line[1] == 'Total National Population':
            population_dict[line[0]] += line[5]

Magic--> ` population_dict[line[0]] += line[5]` 
that is setting the value and the key is picked automatically.

In [169]:
population_dict

defaultdict(<class 'int'>, {'Asia': 4066850410, 'Europe': 704784295, 'South America': 380024562, 'Oceania': 37176851, 'North America': 505581737, 'Africa': 901529814})

In [6]:
from collections import defaultdict

In [12]:
population_dict = defaultdict(int)
inputFile = open('dropbox/github/thinkful/unit1/data/\
lecz-urban-rural-population-land-area-estimates_continent\
-90m.csv', 'rU')

header = next(inputFile)

for line in inputFile:
    line = line.rstrip().split(',') #rstrip to remove trailing spaces, split to make the lines into a list by
                                    #commas as the common delimiter.
    line[5] = int(line[5])
    if line[1] == 'Total National Population':
        population_dict[line[0]] += line[5] #line[0] is the key (Continents in this case, Value is population).
inputFile.close()
population_dict

defaultdict(<class 'int'>, {'Africa': 901529814, 'North America': 505581737, 'Europe': 704784295, 'Oceania': 37176851, 'Asia': 4066850410, 'South America': 380024562})

In [26]:
with open('dropbox/github/thinkful/unit1/data/national_population.csv', 'w') as outputFile: #Python will CREATE the file for me :) 
    outputFile.write('continent,2010_population\n')
    for k, v in population_dict.items():
        outputFile.write(k + ',' + str(v) + '\n')

In [24]:
#outputFile = open('national_population.csv', 'w')

>The function iteritems() iterates through each key-value pair in the dictonary. In this case, we're assigning the key to the variable k and the value to the variable v. Remember the key is the continent and the value is the 2010 population. The population is an integer so we have to convert it to a string (using str()). We add the comma to delimit the two and then add the \n to indicate the new line.

> This is what the data should look like now in the csv file.

continent,2010_population<br>
Europe,704784295<br>
Oceania,37176851<br>
Africa,901529814<br>
Asia,4066850410<br>
North America,505581737<br>
South America,380024562<br>

# Finished Code

    import collections
    population_dict = collections.defaultdict(int)

    with open('lecz-urban-rural-population-land-area-estimates-v2-csv/lecz-urban-rural-population-land-area-estimates_continent-90m.csv','rU') as inputFile:
        header = next(inputFile)

        for line in inputFile:
            line = line.rstrip().split(',')
            line[5] = int(line[5])
            if line[1] == 'Total National Population':
                population_dict[line[0]] += line[5]

    with open('national_population.csv', 'w') as outputFile:
        outputFile.write('continent,2010_population\n')

        for k, v in population_dict.iteritems():
            outputFile.write(k + ',' + str(v) + '\n')

#Challenge 1 from Unit 1 / Lesson 1 / Assignment 6
>1. The data world is now your oyster. Play with some of the other population data and see what you come up with. Try and calculate the population change between 2010 and 2100. Remember the lesson about doing integer divison. Convert one of the numbers to floating point decimal by using the float() function.

In [69]:
import collections
year2010 = []
year2100 = []
with open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.\
csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5]) # pop_2010
        line[6] = int(line[6]) # pop_2100
        if line[1] == 'Total National Population':
            year2010.append(line[5])
            year2100.append(line[6])

total_2010_pop = sum(year2010)
total_2100_pop = sum(year2100)
print("Population percentage change from 2010 to 2100: %1.2f%%" %( 
        ((total_2100_pop - total_2010_pop) / total_2010_pop)* 100)  )

Population percentage change from 2010 to 2100: 47.66%

> `2.` Which continent is estimated to grow the most in the next 90 years?

In [67]:
import collections
pop_dict = collections.defaultdict(int)
with open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.\
csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = float(line[5]) # population 2010
        line[6] = int(line[6]) # population 2100
        if line[1] == 'Total National Population':
            pop_dict[line[0]] += line[6] - line[5]

print(max(pop_dict.items(), key = lambda e: e[1]))
# pop_dict.items() ex:[('africa', 200), ('north america', 100)]

max(pop_dict.items(), key = lambda e: e[1])[0]

('Asia', 1780634474.0)

'Asia'

In [34]:
%qtconsole

In [ ]:
# max(q, key = q.get) ==> returns max key  
# max(q.items(), key = lambda e: e[1]) ==> returns max key,value

#Challenge 2 from Unit 1 / Lesson 1 / Assignment 6

> `1.`Try and calculate the population density (total national population divided by the total land area)

In [91]:
import collections
pop_2010 = []
land_area = []
with open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.\
csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5]) # population 2010
        line[7] = int(line[7]) # land area
        if line[1] == 'Total National Population':
            pop_2010.append(line[5])
            land_area.append(line[7])
            
total_pop_2010 = sum(pop_2010)
total_land_area = sum(land_area)

print( "There were about %s people per km^2 in the world in 2010" %(total_pop_2010 // total_land_area) )

There were about 56 people per km^2 in the world in 2010

> `2.` Which continent was most densely populated in 2010?

In [89]:
import collections
dense_2010_dict = collections.defaultdict(int)
with open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.\
csv', 'rU') as inputFile:
    header = next(inputFile)
    for line in inputFile:
        line = line.rstrip().split(',')
        line[5] = int(line[5]) # population 2010
        line[7] = int(line[7]) # land area
        if line[1] == 'Total National Population':
            dense_2010_dict[line[0]] += line[5] // line[7]     # line[0] ==> continent
            
print(dense_2010_dict.items())            
print(max(dense_2010_dict.items(), key = lambda e: e[1]))
max(dense_2010_dict.items(), key = lambda e: e[1])[0]

dict_items([('Africa', 1458), ('North America', 345), ('Europe', 806), ('Oceania', 458), ('Asia', 1346), ('South America', 791)])
('Africa', 1458)

'Africa'

# Managing Data with Pandas

In [38]:
# import codecs ==> encoding = windows-1252
with open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_codebook.\
csv', 'r', encoding = 'windows-1252') as inputFile:
    for line in inputFile:
        line = line.rstrip().split(',')
        print(line)

['Variable', 'Description']
['ISO3v10', 'Unique identifying 3 character country code from ISO']
['Continent', '"The Global Rural-Urban Mapping Project', ' Version 1 (GRUMPv1) National Boundaries Dataset distinguishes state entities."']
['Country', '"The Global Rural-Urban Mapping Project', ' Version 1 (GRUMPv1) National Boundaries Dataset categorizes state entities by continent."']
['GeoRegion', '"The geographical regions used by the United Nations Statistics Division in its publications and databases. Each country is shown in one region only. Geo Regions refer to the UN’s macro geographical regions', ' and correspond as closely as possible to continents. "']
['GeoSubregion', '"Within macro geographical groupings', ' more detailed sub-regions are shown. From the UN: “The assignment of countries or areas to specific groupings is for statistical convenience and does not imply any assumption regarding political or other affiliation of countries or territories by the United Nations.”"']
['ElevationZone', 'Elevation data used to generate the low elevation coastal zones come from the SRTM3 Enhanced Global Map developed by ISCIENCES. The ISCIENCES digital elevation model was created using NASA’s Jet Propulsion Laboratory Shuttle Radar Topography Mission data processed to 3 arc-seconds (SRTM3).']
['Income Group', '"From the World Bank: ""Economies are divided according to 2010 GNI per capita', ' calculated using the World Bank Atlas method. The groups are: low income', ' $1', '005 or less; lower middle income', ' $1', '006 - $3', '975; upper middle income', ' $3', '976 - $12', '275; and high income', ' $12', '276 or more."""']
['Lending Category', '"From the World Bank: ""IDA countries are those that had a per capita income in 2010 of less than $1', '175 and lack the financial ability to borrow from the International Bank for Reconstruction and Development (IBRD). IDA loans are deeply concessional—interest-free loans and grants for programs aimed at boosting economic growth and improving living conditions. IBRD loans are noncessional. Blend countries are eligible for IDA loans because of their low per capita incomes but are also eligible for IBRD loans because they are financially creditworthy."""']
['UrbanRuralDesignation', '"The Global Rural-Urban Mapping Project', ' Version 1 (GRUMPv1) urban extent grid distinguishes urban and rural areas based on a combination of population counts (persons)', ' settlement points', ' and the presence of Nighttime Lights . Areas are defined as urban where contiguous lighted cells from the Nighttime Lights or approximated urban extents based on buffered settlement points for which the total population is greater than 5', '000 persons. This dataset is produced by the Columbia University Center for International Earth Science Information Network (CIESIN) in collaboration with the International Food Policy Research Institute (IFPRI)', ' The World Bank', ' and Centro Internacional de Agricultura Tropical (CIAT)"']
['Population1990', 'Population counts in low elevation zones in the year 1990 as described by GRUMPv1 input estimates allocated into 3 arc second grid cells']
['Population2000', 'Population counts in low elevation zones in the year 2000 as described by GRUMPv1 input estimates allocated into 3 arc second grid cells']
['Population2010', 'Population counts in low elevation zones in the year 2010 derived from the application of United Nations 2000-2010 urban and rural growth rates to year 2000 population data from GRUMPv1 ( see documentation for full description of methodologies )']
['Population2100', 'Extrapolated population counts in low elevation zones in the year 2100 as derived from the application of a calculated 100 year growth rate from IIASA GGI Downscaled Spatially Explicit Socio-Economic Scenario Data ( see documentation for full description of methodologies )']
['LandArea', 'Land Areas in square kilometers']
['PercentofCountryPopulation1990', 'Percent of total country population year 1990']
['PercentofCountryPopulation2000', 'Percent of total country population year 2000']
['PercentofCountryPopulation2010', 'Percent of total country population year 2010']
['PercentofCountryPopulation2100', 'Percent of total country population year 2100']
['PercentofCountryLandArea', 'Percent of total country land area']

In [27]:
with open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_codebook.\
csv', 'rU') as inputFile:
    for line in inputFile:
        line = line.rstrip().split(',')
        print(len(line))

2
2
3
3
3
3
2
13
3
8
2
2
2
2
2
2
2
2
2
2

# CSV to the rescue!!

In [35]:
import csv

with codecs.open('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_codebook.\
csv', 'rU', encoding = 'utf-8', errors='replace') as inputFile:
    inputReader = csv.reader(inputFile)
    for line in inputReader:
        print(line)

['Variable', 'Description']
['ISO3v10', 'Unique identifying 3 character country code from ISO']
['Continent', 'The Global Rural-Urban Mapping Project, Version 1 (GRUMPv1) National Boundaries Dataset distinguishes state entities.']
['Country', 'The Global Rural-Urban Mapping Project, Version 1 (GRUMPv1) National Boundaries Dataset categorizes state entities by continent.']
['GeoRegion', 'The geographical regions used by the United Nations Statistics Division in its publications and databases. Each country is shown in one region only. Geo Regions refer to the UN�s macro geographical regions, and correspond as closely as possible to continents. ']
['GeoSubregion', 'Within macro geographical groupings, more detailed sub-regions are shown. From the UN: �The assignment of countries or areas to specific groupings is for statistical convenience and does not imply any assumption regarding political or other affiliation of countries or territories by the United Nations.�']
['ElevationZone', 'Elevation data used to generate the low elevation coastal zones come from the SRTM3 Enhanced Global Map developed by ISCIENCES. The ISCIENCES digital elevation model was created using NASA�s Jet Propulsion Laboratory Shuttle Radar Topography Mission data processed to 3 arc-seconds (SRTM3).']
['Income Group', 'From the World Bank: "Economies are divided according to 2010 GNI per capita, calculated using the World Bank Atlas method. The groups are: low income, $1,005 or less; lower middle income, $1,006 - $3,975; upper middle income, $3,976 - $12,275; and high income, $12,276 or more."']
['Lending Category', 'From the World Bank: "IDA countries are those that had a per capita income in 2010 of less than $1,175 and lack the financial ability to borrow from the International Bank for Reconstruction and Development (IBRD). IDA loans are deeply concessional�interest-free loans and grants for programs aimed at boosting economic growth and improving living conditions. IBRD loans are noncessional. Blend countries are eligible for IDA loans because of their low per capita incomes but are also eligible for IBRD loans because they are financially creditworthy."']
['UrbanRuralDesignation', 'The Global Rural-Urban Mapping Project, Version 1 (GRUMPv1) urban extent grid distinguishes urban and rural areas based on a combination of population counts (persons), settlement points, and the presence of Nighttime Lights . Areas are defined as urban where contiguous lighted cells from the Nighttime Lights or approximated urban extents based on buffered settlement points for which the total population is greater than 5,000 persons. This dataset is produced by the Columbia University Center for International Earth Science Information Network (CIESIN) in collaboration with the International Food Policy Research Institute (IFPRI), The World Bank, and Centro Internacional de Agricultura Tropical (CIAT)']
['Population1990', 'Population counts in low elevation zones in the year 1990 as described by GRUMPv1 input estimates allocated into 3 arc second grid cells']
['Population2000', 'Population counts in low elevation zones in the year 2000 as described by GRUMPv1 input estimates allocated into 3 arc second grid cells']
['Population2010', 'Population counts in low elevation zones in the year 2010 derived from the application of United Nations 2000-2010 urban and rural growth rates to year 2000 population data from GRUMPv1 ( see documentation for full description of methodologies )']
['Population2100', 'Extrapolated population counts in low elevation zones in the year 2100 as derived from the application of a calculated 100 year growth rate from IIASA GGI Downscaled Spatially Explicit Socio-Economic Scenario Data ( see documentation for full description of methodologies )']
['LandArea', 'Land Areas in square kilometers']
['PercentofCountryPopulation1990', 'Percent of total country population year 1990']
['PercentofCountryPopulation2000', 'Percent of total country population year 2000']
['PercentofCountryPopulation2010', 'Percent of total country population year 2010']
['PercentofCountryPopulation2100', 'Percent of total country population year 2100']
['PercentofCountryLandArea', 'Percent of total country land area']

In [9]:
import pandas as pd
import codecs

In [43]:
data_df = pd.read_csv('dropbox/github/thinkful/unit1/data/lecz-urban-rural-population-land-area-estimates_continent-90m.\
csv', encoding='windows-1252')

In [44]:
data_df.head()

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456

In [45]:
data_df['Continent']

0             Africa
1             Africa
2             Africa
3             Africa
4             Africa
5             Africa
6             Africa
7             Africa
8             Africa
9             Africa
10            Africa
11            Africa
12            Africa
13            Africa
14            Africa
15            Africa
16            Africa
17            Africa
18            Africa
19            Africa
20              Asia
21              Asia
22              Asia
23              Asia
24              Asia
25              Asia
26              Asia
27              Asia
28              Asia
29              Asia
           ...
90     North America
91     North America
92     North America
93     North America
94     North America
95     North America
96     North America
97     North America
98     North America
99     North America
100    South America
101    South America
102    South America
103    South America
104    South America
105    South America
106    South America
107    South America
108    South America
109    South America
110    South America
111    South America
112    South America
113    South America
114    South America
115    South America
116    South America
117    South America
118    South America
119    South America
Name: Continent, dtype: object

In [46]:
data_df[0:10]

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456
5,Africa,Elevations Less Than or Equal To 12m,Urban,25761403,32968917,42205337,105920405,16035
6,Africa,Elevations Less Than or Equal To 1m,Rural,3052584,3891608,4785451,14152403,21939
7,Africa,Elevations Less Than or Equal To 1m,Urban,4056678,4791461,5915752,21137853,2193
8,Africa,Elevations Less Than or Equal To 20m,Rural,27791636,34704704,43734340,118040942,342694
9,Africa,Elevations Less Than or Equal To 20m,Urban,37566072,47749797,60835348,145244129,23456

# Lesson 3: Working with Databases

- CREATE TABLE cities (name text, state text);
This command will **create a table** called **cities** with **columns: name & state** and taking it in as **text**

CREATE TABLE weather (city text, year integer, warm_month text, cold_month text, average_high integer);

sqlite> INSERT INTO weather (city, year, warm_month, cold_month, average_high) VALUES   

...> ('New York City', 2013, 'July', 'January', 62),   ...> ('Boston', 2013, 'July', 'January', 59),   ...> ('Chicago', 2013, 'July', 'January', 59),
  
  ...> ('Miami', 2013, 'August', 'January', 84),
  
  ...> ('Dallas', 2013, 'August', 'January', 77),
  
  ...> ('Seattle', 2013, 'July', 'January', 61),
  
  ...> ('Portland', 2013, 'July', 'December', 63),
  
  ...> ('San Francisco', 2013, 'September', 'December', 64),
  
  ...> ('Los Angeles', 2013, 'September', 'December', 75);
  
##Useful commands:
<li>which sqlite3  --Tells you the path of sqlite3
<li>/usr/bin/sqlite3 --To link it to the system-provided sqlite so now up arrow and down arrow keys work to recall commands
<li>/usr/bin/sqlite3 somefilename.db --To connect that database to your current session

## Querying
<li> `SELECT * FROM <tablename>;`</li>
<li> `SELECT <columnname>, <columnname2> FROM <tablename>;`</li>
<li> `SELECT name, state FROM cities WHERE state='CA';`</li>
<li> `SELECT name FROM cities WHERE name LIKE '%le%';`</li>
<li> `SELECT name FROM cities LIMIT 2 OFFSET 3;`</li>
<li> **Example**: `SELECT COUNT(*) FROM cities WHERE name LIKE 'San%' AND state='CA';`</li>
## [Using sqlite3 with Python](https://docs.python.org/2/library/sqlite3.html)
<li> `import sqlite3`
<li> `conn = sqlite3.connect('filename.db')` --Connect with the database
<li> `c = conn.cursor()` --Preparing the cursor to call the .execute method on it
<li> `c.execute('<Regular SQL syntax here>')` 
<li> `print(c.fetchall()) --To see the latest cursor
<li> `con.commit()` --Push changes after writing to the database with commands like `UPDATE`
<li> `conn.rollback()` --Rollback any changes since the **LAST** call to `commit()`

In [3]:
import pandas

In [6]:
import sqlite3

In [109]:
conn = sqlite3.connect('dropbox/github/thinkful/unit1/sqlite3/getting_started.db')

In [110]:
c = conn.cursor()

In [111]:
c.execute('CREATE TABLE pysql (py text, sql text)')

In [112]:
c.execute('SELECT * from cities')

In [113]:
print(c.fetchall())

[('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR'), ('San Francisco', 'CA'), ('Los Angeles', 'CA')]

In [114]:
c.execute('SELECT name FROM cities LIMIT 2 OFFSET 3')

In [115]:
print(c.fetchall())

[('Miami',), ('Dallas',)]

In [116]:
c.execute('SELECT COUNT(*) FROM CITIES WHERE name LIKE "San%" and state="CA"')
print(c.fetchall())

[(1,)]

>The COUNT function is used to return the number of rows which match a query. So in this example you count the number of cities in California which start with the string "San". Notice how we can logically combine two WHERE clauses using AND, OR and NOT.

In [117]:
q = []
for row in c.execute('SELECT * from weather'):
    q.append(row[4])
    print(row)
print("Highest temperature: %s˚" %max(q)) # alt + k ==> ˚

('New York City', 2013, 'July', 'January', 62)
('Boston', 2013, 'July', 'January', 59)
('Chicago', 2013, 'July', 'January', 59)
('Miami', 2013, 'August', 'January', 84)
('Dallas', 2013, 'August', 'January', 77)
('Seattle', 2013, 'July', 'January', 61)
('Portland', 2013, 'July', 'December', 63)
('San Francisco', 2013, 'September', 'December', 64)
('Los Angeles', 2013, 'September', 'December', 75)
Highest temperature: 84˚

In [118]:
c.execute('SELECT sum(average_high) FROM weather')
print(c.fetchall())

[(604,)]

In [119]:
c.execute('SELECT city, min(average_high) FROM weather')
print(c.fetchall())

[('Boston', 59)]

In [120]:
c.execute('SELECT city, max(average_high) FROM weather')
print(c.fetchone())

('Miami', 84)

###How many rows are in the weather table?

In [121]:
c.execute('SELECT Count(*) FROM weather')
print(c.fetchall())

[(9,)]

###What cities were hottest in July in 2013?

In [122]:
c.execute('SELECT city FROM weather where warm_month = "July"')
print(c.fetchall())

[('New York City',), ('Boston',), ('Chicago',), ('Seattle',), ('Portland',)]

###What cities were hottest in July and not coldest in January?

In [123]:
c.execute('SELECT city FROM weather where warm_month = "July" and cold_month != "January" ')
print(c.fetchall())

[('Portland',)]

###The first two cities which were coldest in January

In [124]:
c.execute('SELECT city FROM weather where cold_month = "January"')
print(c.fetchall())

[('New York City',), ('Boston',), ('Chicago',), ('Miami',), ('Dallas',), ('Seattle',)]

In [125]:
c.execute('SELECT city FROM weather where cold_month = "January" LIMIT 2')
print(c.fetchall())

[('New York City',), ('Boston',)]

In [126]:
c.execute('SELECT city FROM weather where cold_month = "January" LIMIT 2 OFFSET 3')
print(c.fetchall())

[('Miami',), ('Dallas',)]

#Update your data
<li> How to deal with locked or readonly data: <br>```/Users/ChessTastic/.ipython/profile_default/history.sqlite.
➜  profile_default  sudo chmod a+w history.sqlite
Password:```
<li>To change the values held in a table you use the `UPDATE` command. Try running the following example:

In [130]:
c.execute("UPDATE cities SET state='Californ-I-A' WHERE state='CA'")
conn.commit()
print(c.fetchall())

[]

In [131]:
c.execute("SELECT state FROM cities")
print(c.fetchall())

[('NY',), ('MA',), ('IL',), ('FL',), ('TX',), ('WA',), ('OR',), ('Californ-I-A',), ('Californ-I-A',)]

<li>Use an UPDATE statement to undo the meddling from above, changing "Californ-I-A" back to "CA".

In [133]:
c.execute('UPDATE cities SET state="CA" WHERE state="Californ-I-A"')
c.execute('SELECT state FROM cities')
conn.commit()
print(c.fetchall())

[('NY',), ('NY',), ('MA',), ('IL',), ('FL',), ('TX',), ('WA',), ('OR',), ('CA',), ('CA',)]

# Deleting data
<li>To delete data from a table you use the `DELETE FROM` command. For example, to delete the Californian cities you would run the following statement:

In [152]:
c.execute('SELECT * FROM cities')
print("Before deleting CA states: %s" %c.fetchall())
c.execute('DELETE FROM cities WHERE state="CA"')
print("\n--------------------------------------------------------------------------------------------------------------\n")
c.execute('SELECT * FROM cities')
print("After deleting CA states: %s" %c.fetchall())
conn.commit()

Before deleting CA states: [('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR'), ('San Francisco', 'CA'), ('Los Angeles', 'CA')]

--------------------------------------------------------------------------------------------------------------

After deleting CA states: [('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR')]

### How to use .rollback() on Class sqlite3.Connection

In [161]:
c.execute('''INSERT INTO cities (name, state) VALUES
    ('New York City', 'NY'),
    ('Boston', 'MA'),
    ('Chicago', 'IL'),
    ('Miami', 'FL'),
    ('Dallas', 'TX'),
    ('Seattle', 'WA'),
    ('Portland', 'OR'),
    ('San Francisco', 'CA'),
    ('Los Angeles', 'CA');''')

c.execute('SELECT * FROM cities')
print(c.fetchall())

[('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR'), ('San Francisco', 'CA'), ('Los Angeles', 'CA')]

In [162]:
conn.rollback()

In [163]:
c.execute('SELECT * FROM cities')
print(c.fetchall())

[]

In [164]:
c.execute('''INSERT INTO cities (name, state) VALUES
    ('New York City', 'NY'),
    ('Boston', 'MA'),
    ('Chicago', 'IL'),
    ('Miami', 'FL'),
    ('Dallas', 'TX'),
    ('Seattle', 'WA'),
    ('Portland', 'OR'),
    ('San Francisco', 'CA'),
    ('Los Angeles', 'CA');''')

c.execute('SELECT * FROM cities')
print(c.fetchall())
conn.commit()

[('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR'), ('San Francisco', 'CA'), ('Los Angeles', 'CA')]

In [165]:
# Notice how .rollback() does nothing here
conn.rollback()
c.execute('SELECT * FROM cities')
print(c.fetchall())

[('New York City', 'NY'), ('Boston', 'MA'), ('Chicago', 'IL'), ('Miami', 'FL'), ('Dallas', 'TX'), ('Seattle', 'WA'), ('Portland', 'OR'), ('San Francisco', 'CA'), ('Los Angeles', 'CA')]

## Export Your Data to CSV (Command Line)

<li>`sqlite> .mode csv` &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--First switch output mode to `csv`
<li>`sqlite> .headers on` &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Turn column headers on
<li>`sqlite> .output cities.csv`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Output any upcoming statements to `cities.csv`
<li>`sqlite> select * from cities;`&nbsp;&nbsp;--Make query to select all of the rows from `cities` table
<li>`sqlite> .output stdout`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Redirect `.output` to command line

## Import data from a CSV (Command Line)
<li>> create table cities_copy (name text, state text);
<li>> .separator ","
<li>> .import cities.csv cities_copy
>First you have to create the new table before loading the csv into it, otherwise the CSV will have nowhere to go. Then you set the comma separator, and tell SQLite to import the data into the table using the .import command.

##Importing Data into SQLite Using Python
Let's say you create a table called `cities`, with columns ID, name, state, and country.

rosuav [4:32 AM]
You can insert a row like this:

rosuav [4:32 AM]
`insert into cities (name, state, country) values ('Melbourne', 'VIC', 'Australia')`

rosuav [4:33 AM]
You can replace those quoted strings at the end with question marks, and then SQLite will use values from the CSV row. Let's say you get them as `"Country", "State", "City Name"`

rosuav [4:33 AM]
You could use:

rosuav [4:33 AM]4:33
`for row in csv_reader: cur.execute("insert into cities (country, state, name) values (?,?,?)", row)`

In [177]:
c.execute('SELECT SQLITE_VERSION()')
print("SQLite version: %s" %c.fetchone())
conn.close()

SQLite version: 3.8.4.1

In [179]:
import sqlite3 as lite

# Here you connect to the database. The `connect()` method returns a connection object.
con = lite.connect('getting_started.db')

with con:
    # From the connection, you get a cursor object. The cursor is what goes over the records that result from a query.
    cur = con.cursor()    
    cur.execute('SELECT SQLITE_VERSION()')
    # You're fetching the data from the cursor object. Because you're only fetching one record, you'll use the `fetchone()` method. If fetching more than one record, use the `fetchall()` method.
    data = cur.fetchone()
    # Finally, print the result.
    print("SQLite version: %s" % data)

SQLite version: 3.8.4.1

In [186]:
cities = (('Las Vegas', 'NV'),
         ('Atlanta', 'GA'))

weather = (('Las Vegas', 2013, 'July', 'December', 80),
          ('Atlanta', 2013, 'July', 'January', 90))

con = lite.connect('dropbox/github/thinkful/unit1/sqlite3/getting_started.db')

with con:
    
    cur = con.cursor()
    cur.executemany("INSERT INTO cities VALUES (?,?)", cities)
    cur.executemany("INSERT INTO weather VALUES (?,?,?,?,?)", weather)

## Retrieving Data

In [4]:
import sqlite3 as lite
con = lite.connect('/Users/ChessTastic/dropbox/github/thinkful/unit1/sqlite3/getting_started.db')

In [6]:
with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM cities")
    rows = cur.fetchall()
    
    for row in rows:
        print(row)

('New York City', 'NY')
('Boston', 'MA')
('Chicago', 'IL')
('Miami', 'FL')
('Dallas', 'TX')
('Seattle', 'WA')
('Portland', 'OR')
('San Francisco', 'CA')
('Los Angeles', 'CA')
('Las Vegas', 'NV')
('Atlanta', 'GA')

In [8]:
import pandas as pd

In [11]:
con = lite.connect('/Users/ChessTastic/dropbox/github/thinkful/unit1/sqlite3/getting_started.db')
with con:
    cur = con.cursor()
    cur.execute('SELECT * FROM cities')
    rows = cur.fetchall()
    df = pd.DataFrame(rows)

In [14]:
df

                0   1
0   New York City  NY
1          Boston  MA
2         Chicago  IL
3           Miami  FL
4          Dallas  TX
5         Seattle  WA
6        Portland  OR
7   San Francisco  CA
8     Los Angeles  CA
9       Las Vegas  NV
10        Atlanta  GA

In [19]:
cur.description   # Carries info regarding the tables. With index 0 containining headers

(('name', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None))

In [22]:
cols = [desc[0] for desc in cur.description]
cols

['name', 'state']

In [28]:
df = pd.DataFrame(rows, columns=cols)

In [29]:
df

             name state
0   New York City    NY
1          Boston    MA
2         Chicago    IL
3           Miami    FL
4          Dallas    TX
5         Seattle    WA
6        Portland    OR
7   San Francisco    CA
8     Los Angeles    CA
9       Las Vegas    NV
10        Atlanta    GA

<li> Now in one step: Adding column to the rows pulled from the SQL data

In [42]:
import sqlite3 as lite
con = lite.connect('/Users/ChessTastic/dropbox/github/thinkful/unit1/sqlite3/getting_started.db')
with con:
    cur = con.cursor()
    cur.execute('SELECT * FROM cities')
    rows = cur.fetchall()
    
    cols = [desc[0] for desc in cur.description]
    cities_df = pd.DataFrame(rows, columns=cols)
cities_df

             name state
0   New York City    NY
1          Boston    MA
2         Chicago    IL
3           Miami    FL
4          Dallas    TX
5         Seattle    WA
6        Portland    OR
7   San Francisco    CA
8     Los Angeles    CA
9       Las Vegas    NV
10        Atlanta    GA

#### PERFECT! Just what we wanted. We were able to pull the data, put it in a pandas dataframe, and update the column names, all in one step!

In [43]:
import sqlite3 as lite
con = lite.connect('/Users/ChessTastic/dropbox/github/thinkful/unit1/sqlite3/getting_started.db')
with con:
    cur = con.cursor()
    cur.execute('SELECT * FROM weather')
    rows = cur.fetchall()
    
    cols = [desc[0] for desc in cur.description]
    weather_df = pd.DataFrame(rows, columns=cols)
weather_df

             city  year warm_month cold_month  average_high
0   New York City  2013       July    January            62
1          Boston  2013       July    January            59
2         Chicago  2013       July    January            59
3           Miami  2013     August    January            84
4          Dallas  2013     August    January            77
5         Seattle  2013       July    January            61
6        Portland  2013       July   December            63
7   San Francisco  2013  September   December            64
8     Los Angeles  2013  September   December            75
9       Las Vegas  2013       July   December            80
10        Atlanta  2013       July    January            90

# Joining and Filtering Data in SQLite

In [37]:
lite.sqlite_version

'3.8.4.1'

In [47]:
import sqlite3 as lite
import pandas as pd
con = lite.connect('/Users/ChessTastic/dropbox/github/thinkful/unit1/sqlite3/getting_started.db')
with con:
    cur = con.cursor()
    cur.execute('SELECT name, state, year, warm_month, cold_month \
                 FROM cities\
                 INNER JOIN weather\
                     ON name = city;')
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]
    cities_weather_df = pd.DataFrame(rows, columns=cols)
cities_weather_df

             name state  year warm_month cold_month
0   New York City    NY  2013       July    January
1          Boston    MA  2013       July    January
2         Chicago    IL  2013       July    January
3           Miami    FL  2013     August    January
4          Dallas    TX  2013     August    January
5         Seattle    WA  2013       July    January
6        Portland    OR  2013       July   December
7   San Francisco    CA  2013  September   December
8     Los Angeles    CA  2013  September   December
9       Las Vegas    NV  2013       July   December
10        Atlanta    GA  2013       July    January

In [10]:
for i in range(1,101):
    if i % 3 == 0:
        print("fizz")
    if i % 5 == 0:
        print("buzz")
    if i%3 == 0 and i%5 == 0:
        print("fizzbuzz")
    else:
        print(i)

1
2
fizz
3
4
buzz
5
fizz
6
7
8
fizz
9
buzz
10
11
fizz
12
13
14
fizz
buzz
fizzbuzz
16
17
fizz
18
19
buzz
20
fizz
21
22
23
fizz
24
buzz
25
26
fizz
27
28
29
fizz
buzz
fizzbuzz
31
32
fizz
33
34
buzz
35
fizz
36
37
38
fizz
39
buzz
40
41
fizz
42
43
44
fizz
buzz
fizzbuzz
46
47
fizz
48
49
buzz
50
fizz
51
52
53
fizz
54
buzz
55
56
fizz
57
58
59
fizz
buzz
fizzbuzz
61
62
fizz
63
64
buzz
65
fizz
66
67
68
fizz
69
buzz
70
71
fizz
72
73
74
fizz
buzz
fizzbuzz
76
77
fizz
78
79
buzz
80
fizz
81
82
83
fizz
84
buzz
85
86
fizz
87
88
89
fizz
buzz
fizzbuzz
91
92
fizz
93
94
buzz
95
fizz
96
97
98
fizz
99
buzz
100